@charset "UTF-8";

.firework_container {
  position: relative;
}

.firework_img {
  display: block;
  margin: 0 auto;
}

.firework_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 50px;
  width: 300px;
  background-color: orange;
  line-height: 2;
  text-align: center;
}

/* Topへスクロールするボタン */
.scroll_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background-color: #eee;
  /* 下記のように中身を中央揃えにしてもよい */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.scroll_top::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%) rotate(-45deg);
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  width: 10px;
  height: 10px;
}

/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください
 */