@charset "UTF-8";

/* 2-1 text-align */
/* text-alignでの左右中央寄せ */
/* ブロック内のテキストかインライン要素は、text-alignで中央寄せできる */
.text_center {
  text-align: center;
}
.text_display {
  display: inline-block;
}

/* 2-2 margin */
/* marginを利用した天地左右中央寄せ */
/* margin: 0 autoになっているか */
/* text-align: center;も指定できているか */
.margin_auto {
  margin: 0 auto;
}

/* 2-3 flex */
/* flexを利用した天地左右中央寄せ */
/* 下記の通りになっているか */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください
※ sample-〇〇は既存クラスのためスタイルを変更しないでください
その際、新しく作るクラス名はsample-〇〇にする必要はありません */