@charset "UTF-8";

/* 2-1 text-align */
.text_center {
  text-align: center;
}
.text_display {
  display: inline-block;
}

/* 2-2 margin */
.margin_auto {
  margin: 0 auto;
}

/* 2-3 flex */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください
※ sample-〇〇は既存クラスのためスタイルを変更しないでください
その際、新しく作るクラス名はsample-〇〇にする必要はありません */